body{
    margin: 0;
    background-color: white;
}

.nav-text{
    color: black;
    font-size: 22px;
    font-family: Arial;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 80px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.nav-links li{
    margin: 20px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
}

.logo{
    margin-left: 20px;
}

.nav-bar .nav-links a:hover{
    color: rgb(133, 24, 169);
    font-size: 30px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    margin-bottom: 0;
}

.footer-container{
    width: 100%;
    padding: 15px;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    color: white;
}

.socialmedia-icon{
    display: flex;
    justify-content: center;
}

.socialmedia-icon a{
    text-decoration: none;
    background-color: white;
    padding:5px;
    margin: 10px;
    border-radius: 50%;
    font-size: 15px;
    color: black;
}

.socialmedia-icon a i{
    font-size: 1.5em;
    opacity: 1;
}

.socialmedia-icon a:hover{
    background-color: black;
    color: white;
    transition: 0.6s;
}

.image-container{
    position: relative;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

.image-container img{
    display: block;
    width: 100%;
    height: 800px;
}

.overlay-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 900;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}
